html {
    font-family: "Lato";
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
    padding-top: 20px;
}

#landing-section.flex-group {
    flex-direction: column-reverse;
}

.flex-group {
    display: flex;
    flex-direction: column;
}

#search {
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin: 0 0 75px 0;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.inline-labels {
    display: flex;
    align-items: center;
}

.inline-labels div {
    display: inline;
    margin: 0 auto 10px auto;
}

.inline-labels label {
    display: inline;
}

.input-date-time {
    display: flex;
}

.date-time-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

button {
    font-size: 20px;
    display: block;
    background-color: rgb(0, 97, 187);
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 8px;
}

input {
    margin-bottom: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.small-text {
    font-size: 10px;
}

form p {
    text-align: center;
}

.flex-1 {
    flex: 2;
}

.flex-2 {
    flex: 3;
}

.hidden {
    display: none;
}

#results {
    margin-bottom: 60px;
}

img {
    border: 1px #efefef solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 8px;
}

#country-desc {
    line-height: 1.6;
}

@media all and (min-width: 300px) {
    .date-time-container {
        flex-direction: row;
    }
}

@media all and (min-width:  440px) {
main {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

}

@media all and (min-width: 800px) {
    .flex-group {
        flex-direction: row;
    }
    
    .flex-1 {
        padding-right: 20px;
    }

    main {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    button {
        margin-left: 0;
        margin-top: 50px;
    }

    form p {
        margin: 80px 0;
        text-align: left;
    }

    label {
        text-align: left;
    }

    .date-time-container {
        margin: 0;
    }

}