a {
    text-decoration: none;
}

button {
    display: block;
}

label {
    display: block;
}

.flex-group {
    display: flex;
    flex-direction: column;
}

main {
    margin: 20px;
}

.small-text {
    font-size: 10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

img {
    border: 1px gray solid;
    max-width: 90%;
}

.flex-1 {
    flex: 2;
}

.flex-2 {
    flex: 3;
}

.hidden {
    display: none;
}

@media all and (min-width: 400px) {
main {
    width: 400px;
}
}

@media all and (min-width: 800px) {
    .flex-group {
        flex-direction: row;
    }
    
    main {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
}